<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>skk-coffee</title>
    <!--forbid scale and set the initial scale to 1.0-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale-1.0,
minimum-scale=1.0,user-scalable=no">
    <!--forbid detect telephone and email-->
    <meta name="format-detection" content="telephone=no, email=no">
    <!--hide the address bar and toolbar in safari-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--set the default style to black-->
    <meta name="app-mobile-web-app-status-bar-style" content="black">
    <!--set the title to skk-coffee when add the page to main screen-->
    <meta name="app-mobile-web-app-title" content="skk-coffee">
</head>
<body>
<div id="react-app" style="width: 100%;height:100%;"></div>
</body>
</html>