.swiper {
  position: relative;

  width: 100%;
  height: 400px;

  overflow: hidden;

  &__content {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    width: 100%;

    opacity: 0;
    transition: opacity 1.5s linear;
  }
  &__img_active {
    opacity: 1;
    z-index: 100000;
  }
}