.bank1,
.bank2,
.bank3,
.bank4,
.bank5,
.bank6 {
  display: inline-block;

  width: 128px;
  height: 128px;
}
.bank1 {
  background: url("../asset/bank/bank (1).png") no-repeat center;
  background-size: 128px 128px;
}
.bank2 {
  background: url("../asset/bank/bank (2).png") no-repeat center;
  background-size: 128px 128px;
}
.bank3 {
  background: url("../asset/bank/bank (3).png") no-repeat center;
  background-size: 128px 128px;
}
.bank4 {
  background: url("../asset/bank/bank (4).png") no-repeat center;
  background-size: 128px 128px;
}
.bank5 {
  background: url("../asset/bank/bank (5).png") no-repeat center;
  background-size: 128px 128px;
}
.bank6 {
  background: url("../asset/bank/bank (6).png") no-repeat center;
  background-size: 128px 128px;
}

.plus {
  display: inline-block;

  width: 42px;
  height: 42px;

  background: url("../asset/plus.png") no-repeat center;
  background-size: 42px 42px;
}
.minus {
  display: inline-block;

  width: 42px;
  height: 42px;

  background: url("../asset/minus.png") no-repeat center;
  background-size: 42px 42px;
}

.icon-love {
  display: inline-block;

  width: 42px;
  height: 42px;

  background: url("../asset/love.png") no-repeat center;
  background-size: 42px 42px;
}
.icon-shopCar {
  display: inline-block;

  width: 42px;
  height: 42px;

  background: url("../asset/wenhao.png") no-repeat center;
  background-size: 42px 42px;
}
.icon-wenhao {
  display: inline-block;

  width: 42px;
  height: 42px;

  background: url("../asset/shop-car.png") no-repeat center;
  background-size: 42px 42px;
}