$theme-blue: #07d;
$theme-blue-light: #8bb0dd;

$theme-orange: #f60;
$theme-warn: red;


$theme-color-dark: #333;
$theme-color-dart-x: #666;
$theme-color-dart-xx: #999;
$theme-color-dart-xxx: #ccc;

$theme-border-color: #e0e0e0;